<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.bsin.infrastructure.mapper.BlackWhiteListAddressMapper">
    <resultMap id="BaseResultMap" type="me.flyray.bsin.domain.entity.BlackWhiteListAddress">
            <id property="serialNo" column="serial_no" jdbcType="VARCHAR"/>
            <result property="chainCoinNo" column="chain_coin_no" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="bizRoleType" column="biz_role_type" jdbcType="INTEGER"/>
            <result property="bizRoleNo" column="biz_role_no" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectList" parameterType="me.flyray.bsin.domain.request.BlackWhiteListAddressDTO" resultType="me.flyray.bsin.domain.response.BlackWhiteListAddressVO">
        select
        cbwla.serial_no,
        cbwla.chain_coin_no,
        c3.coin,
        c3.chain_name,
        cbwla.address,
        cbwla.status,
        cbwla.type,
        cbwla.remark,
        cbwla.tenant_id,
        cp.platform_name,
        cbwla.create_by,
        cbwla.create_time,
        cbwla.update_by,
        cbwla.update_time
        from waas_black_white_list_address as cbwla
        left join waas_chain_coin as c3
        on cbwla.chain_coin_no = c3.serial_no and c3.del_flag = 0 and c3.status = 1
        left join crm_platform as cp
        on cbwla.tenant_id = cp.tenant_id and cp.del_flag = 0
        <trim prefix="where" prefixOverrides="and">
            <if test="dto.chainCoinNo != null and dto.chainCoinNo != ''">
                and cbwla.chain_coin_no = #{dto.chainCoinNo}
            </if>
            <if test="dto.coin != null and dto.coin != ''">
                and c3.coin = #{dto.coin}
            </if>
            <if test="dto.chainName != null and dto.chainName != ''">
                and c3.chain_name = #{dto.chainName}
            </if>
            <if test="dto.status != null">
                and cbwla.status = #{dto.status}
            </if>
            <if test="dto.address != null and dto.address != ''">
                and cbwla.address = #{dto.address}
            </if>
            <if test="dto.startTime != null" >
                <![CDATA[and cbwla.create_time >= #{dto.startTime}]]>
            </if>
            <if test="dto.endTime != null" >
                <![CDATA[and cbwla.create_time <= #{dto.endTime}]]>
            </if>
                and cbwla.del_flag = 0
        </trim>
    </select>

    <select id="pageList" parameterType="me.flyray.bsin.domain.request.BlackWhiteListAddressDTO" resultType="me.flyray.bsin.domain.response.BlackWhiteListAddressVO">
        select
        cbwla.serial_no,
        cbwla.chain_coin_no,
        c3.coin,
        c3.chain_name,
        cbwla.address,
        cbwla.status,
        cbwla.type,
        cbwla.remark,
        cbwla.tenant_id,
        cp.platform_name,
        cbwla.create_by,
        cbwla.create_time,
        cbwla.update_by,
        cbwla.update_time
        from crm_black_white_list_address as cbwla
        left join crm_chain_coin as c3
        on cbwla.chain_coin_no = c3.serial_no and c3.del_flag = 0 and c3.status = 1
        left join crm_platform as cp
        on cbwla.tenant_id = cp.tenant_id and cp.del_flag = 0
        <trim prefix="where" prefixOverrides="and">
            <if test="dto.chainCoinNo != null and dto.chainCoinNo != ''">
                and cbwla.chain_coin_no = #{dto.chainCoinNo}
            </if>
            <if test="dto.coin != null and dto.coin != ''">
                and c3.coin = #{dto.coin}
            </if>
            <if test="dto.chainName != null and dto.chainName != ''">
                and c3.chain_name = #{dto.chainName}
            </if>
            <if test="dto.status != null">
                and cbwla.status = #{dto.status}
            </if>
            <if test="dto.address != null and dto.address != ''">
                and cbwla.address = #{dto.address}
            </if>
            <if test="dto.startTime != null" >
                <![CDATA[and cbwla.create_time >= #{dto.startTime}]]>
            </if>
            <if test="dto.endTime != null" >
                <![CDATA[and cbwla.create_time <= #{dto.endTime}]]>
            </if>
            and cbwla.del_flag = 0
        </trim>
    </select>

    <update id="updateDelFlag">
        update crm_black_white_list_address set del_flag = '1' ,update_by = #{params.updateBy} ,update_time = #{params.updateTime}
        where serial_no = #{params.serialNo}
    </update>
</mapper>
