<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.bsin.infrastructure.mapper.BondingCurveTokenJournalMapper">

    <resultMap id="BaseResultMap" type="me.flyray.bsin.domain.entity.BondingCurveTokenJournal">
            <id property="serialNo" column="serial_no" jdbcType="VARCHAR"/>
            <result property="supply" column="supply" jdbcType="DECIMAL"/>
            <result property="reserve" column="reserve" jdbcType="DECIMAL"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="method" column="method" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="txHash" column="tx_hash" jdbcType="VARCHAR"/>
            <result property="customerNo" column="customer_no" jdbcType="VARCHAR"/>
            <result property="merchantNo" column="merchant_no" jdbcType="VARCHAR"/>
            <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        serial_no,supply,reserve,
        price,method,description,tx_hash,
        customer_no,merchant_no,tenant_id,
        create_time
    </sql>

    <select id="selectLastOne" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from crm_bonding_curve_token_journal
        <where>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="merchantNo != null">
                and merchant_no = #{merchantNo}
            </if>
        </where>
        order by create_time desc
        limit 1
    </select>

    <select id="selectCurveList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from crm_bonding_curve_token_journal
        <where>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="merchantNo != null">
                and merchant_no = #{merchantNo}
            </if>
        </where>
        order by create_time
<!--        <if test="limit != null">-->
<!--            limit #{limit}-->
<!--        </if>-->

    </select>


</mapper>
