<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.bsin.infrastructure.mapper.ContractMethodMapper">

    <resultMap id="BaseResultMap" type="me.flyray.bsin.domain.entity.ContractMethod">
            <result property="methodId" column="method_id" jdbcType="VARCHAR"/>
            <result property="methodName" column="method_name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        method_id,method_name,
        type
    </sql>

</mapper>
