<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.bsin.infrastructure.mapper.CustomerPassCardMapper">

    <resultMap id="BaseResultMap" type="me.flyray.bsin.domain.entity.CustomerPassCard">
        <id property="serialNo" column="serial_no" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
        <result property="customerNo" column="customer_no" jdbcType="BIGINT"/>
        <result property="digitalAssetsItemNo" column="digital_assets_item_no" jdbcType="VARCHAR"/>
        <result property="tokenId" column="token_id" jdbcType="VARCHAR"/>
        <result property="merchantNo" column="merchant_no" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="tbaAddress" column="tba_address" jdbcType="VARCHAR"/>
        <result property="passCardAssetsCoverImage" column="pass_card_assets_cover_image" jdbcType="VARCHAR"/>
        <result property="passCardAssetsName" column="pass_card_assets_name" jdbcType="VARCHAR"/>
        <result property="passCardNftName" column="pass_card_nft_name" jdbcType="VARCHAR"/>
        <result property="passCardNftImage" column="pass_card_nft_image" jdbcType="VARCHAR"/>
        <result property="passCardNftTokenUri" column="pass_card_nft_token_uri" jdbcType="VARCHAR"/>
        <result property="passCardBalance" column="pass_card_balance" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        serial_no
        ,create_time,tenant_id,
        customer_no,digital_assets_item_no,token_id,
        merchant_no,remark,status,tba_address
    </sql>

    <resultMap id="digitalAssetsItemRes" type="me.flyray.bsin.facade.response.DigitalAssetsItemRes">
        <id property="serialNo" column="serial_no" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="customerAvatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="memberNo" column="member_no" jdbcType="VARCHAR"/>
        <result property="multimediaType" column="multimedia_type" jdbcType="VARCHAR"/>
        <result property="coverImage" column="cover_image" jdbcType="VARCHAR"/>
        <result property="merchantNo" column="merchant_no" jdbcType="VARCHAR"/>
        <result property="toAmount" column="to_amount" jdbcType="VARCHAR"/>
        <result property="amount" column="amount" jdbcType="INTEGER"/>
        <result property="tokenId" column="token_id" jdbcType="INTEGER"/>
        <result property="fromAmount" column="from_amount" jdbcType="VARCHAR"/>
        <result property="exchangeRate" column="exchangeRate" jdbcType="VARCHAR"/>
        <result property="merchantName" column="merchant_name" jdbcType="VARCHAR"/>
        <result property="tbaAddress" column="tba_address" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectCustomerDigitalAssetsDetail" resultMap="digitalAssetsItemRes">
        select cpc.customer_no,
               cpc.digital_assets_item_no,
               cpc.token_id,
               cpc.amount,
               cpc.tba_address,
               cpc.create_time,
               cpc.tenant_id,
               cpc.merchant_no,
               dai.serial_no,
               dai.merchant_no,
               dai.digital_assets_collection_no,
               dai.cover_image,
               dai.assets_name,
               dai.assets_type,
               dmj.metadata_image,
               dmj.metadata_url,
               dmj.item_name as name
        from waas_customer_pass_card cpc
                 left join waas_digital_assets_item dai on cpc.digital_assets_item_no = dai.serial_no
                 left join waas_mint_journal dmj
                           on dai.serial_no = dmj.digital_assets_item_no and dmj.token_id = cpc.token_id
        where cpc.tenant_id = #{tenantId}
          and cpc.merchant_no = #{merchantNo}
          and cpc.customer_no = #{customerNo}
    </select>


    <select id="selectCustomerPassCardList" resultMap="BaseResultMap">
        select cpc.customer_no,
               cpc.digital_assets_item_no,
               cpc.token_id,
               cpc.amount,
               cpc.tba_address,
               cpc.create_time,
               cpc.tenant_id,
               cpc.merchant_no,
               dai.serial_no,
               dai.merchant_no,
               dai.digital_assets_collection_no,
               dai.cover_image as pass_card_assets_cover_image,
               dai.assets_name as pass_card_assets_name,
               dai.assets_type,
               dmj.tx_hash,
               dmj.metadata_image as pass_card_nft_image,
               dmj.metadata_url   as pass_card_nft_token_uri,
               dmj.item_name      as name
        from waas_customer_pass_card cpc
                 left join waas_digital_assets_item dai on cpc.digital_assets_item_no = dai.serial_no
                 left join waas_mint_journal dmj
                           on dai.serial_no = dmj.digital_assets_item_no and dmj.token_id = cpc.token_id
        where cpc.tenant_id = #{tenantId}
          and cpc.customer_no = #{customerNo}
    </select>

</mapper>
