<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.bsin.infrastructure.mapper.DigitalAssetsItemMapper">

    <resultMap id="BaseResultMap" type="me.flyray.bsin.domain.entity.DigitalAssetsItem">
            <id property="serialNo" column="serial_no" jdbcType="VARCHAR"/>
            <result property="assetsName" column="assets_name" jdbcType="VARCHAR"/>
            <result property="assetsType" column="assets_type" jdbcType="VARCHAR"/>
            <result property="digitalAssetsCollectionNo" column="digital_assets_collection_no" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="multimediaType" column="multimedia_type" jdbcType="VARCHAR"/>
            <result property="coverImage" column="cover_image" jdbcType="VARCHAR"/>
            <result property="metadataUrl" column="metadata_url" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="obtainMethod" column="obtain_method" jdbcType="VARCHAR"/>
            <result property="inventory" column="inventory" jdbcType="INTEGER"/>
            <result property="onSell" column="on_sell" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="merchantNo" column="merchant_no" jdbcType="VARCHAR"/>
            <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
            <result property="tokenId" column="token_id" jdbcType="INTEGER"/>
            <result property="currentMintTokenId" column="current_mint_token_id" jdbcType="INTEGER"/>

    </resultMap>

    <resultMap id="digitalAssetsItemRes" type="me.flyray.bsin.facade.response.DigitalAssetsItemRes">
        <id property="serialNo" column="serial_no" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="memberNo" column="member_no" jdbcType="VARCHAR"/>
        <result property="multimediaType" column="multimedia_type" jdbcType="VARCHAR"/>
        <result property="coverImage" column="cover_image" jdbcType="VARCHAR"/>
        <result property="metadataUrl" column="metadata_url" jdbcType="VARCHAR"/>
        <result property="merchantNo" column="merchant_no" jdbcType="VARCHAR"/>
        <result property="toAmount" column="to_amount" jdbcType="VARCHAR"/>
        <result property="fromAmount" column="from_amount" jdbcType="VARCHAR"/>
        <result property="exchangeRate" column="exchangeRate" jdbcType="VARCHAR"/>
        <result property="merchantName" column="merchant_name" jdbcType="VARCHAR"/>
        <result property="chainType" column="chain_type" jdbcType="VARCHAR"/>
        <result property="chainEnv" column="chain_env" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        serial_no,assets_name,digital_assets_collection_no,description,chain_type,chain_env,
        multimedia_type,cover_image,metadata_url,price,
        quantity,obtain_method,inventory,
        on_sell,create_by,create_time,
        update_by,update_time,merchant_no,
        tenant_id,del_flag,token_id,current_mint_token_id,assets_type
    </sql>


    <select id="selectDigitalAssetsList" resultMap="digitalAssetsItemRes">
        select
        dai.digital_assets_collection_no,
        dai.token_id,
        dai.serial_no,
        dai.tenant_id,
        dai.merchant_no,
        dai.cover_image,
        dai.assets_name,
        dai.assets_type,
        dac.serial_no,
        dac.symbol,
        dac.name,
        dac.create_time
        from waas_digital_assets_collection dac
        left join waas_digital_assets_item dai on dai.digital_assets_collection_no = dac.serial_no
        <where>
            <if test="tenantId != null">
                and dai.tenant_id = #{tenantId}
            </if>
            <if test="merchantNo != null and merchantNo != ''">
                and dai.merchant_no = #{merchantNo}
            </if>
            <if test="assetsTypes != null and assetsTypes != ''">
                and dac.collection_type in
                <foreach collection="assetsTypes" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        order by dac.create_time desc
    </select>

    <select id="selectDigitalAssetsPageList" resultMap="BaseResultMap">
        select
        dai.digital_assets_collection_no,
        dai.token_id,
        dai.serial_no,
        dai.tenant_id,
        dai.merchant_no,
        dai.cover_image,
        dai.assets_name,
        dai.assets_type,
        dai.description,
        dai.multimedia_type,
        dai.price,
        dai.quantity,
        dai.inventory,
        dai.obtain_method,
        dai.on_sell,
        dai.create_by,
        dai.create_time,
        dai.chain_type,
        dai.chain_env,
        dai.current_mint_token_id,
        dai.metadata_url,
        dac.serial_no,
        dac.symbol,
        dac.name,
        dac.create_time
        from waas_digital_assets_item dai
        left join waas_digital_assets_collection dac on dai.digital_assets_collection_no = dac.serial_no
        <where>
            <if test="tenantId != null">
                and dai.tenant_id = #{tenantId}
            </if>
            <if test="merchantNo != null and merchantNo != ''">
                and dai.merchant_no = #{merchantNo}
            </if>
            <if test="assetsType != null and assetsType != ''">
                and dai.assets_type = #{assetsType}
            </if>
            <if test="obtainMethod != null and obtainMethod != ''">
                and dai.obtain_method = #{obtainMethod}
            </if>
            <if test="digitalAssetsItemNo != null and digitalAssetsItemNo != ''">
                and dai.serial_no = #{digitalAssetsItemNo}
            </if>
            <if test="assetsTypes != null and assetsTypes != ''">
                and dai.assets_type in
                <foreach collection="assetsTypes" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        order by dai.create_time desc
    </select>

</mapper>
