<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.bsin.infrastructure.mapper.OrderbookMatchJournalMapper">

    <resultMap id="BaseResultMap" type="me.flyray.bsin.domain.entity.OrderbookMatchJournal">
            <id property="serialNo" column="serial_no" jdbcType="VARCHAR"/>
            <result property="orderbookNo" column="orderbook_no" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="amount" column="amount" jdbcType="VARCHAR"/>
            <result property="toCustomerNo" column="to_customer_no" jdbcType="VARCHAR"/>
            <result property="toCustomerType" column="to_customer_type" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        serial_no,orderbook_no,status,
        amount,to_customer_no,to_customer_type,
        create_time
    </sql>

</mapper>
