<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.bsin.infrastructure.mapper.PayChannelConfigMapper">

    <resultMap id="BaseResultMap" type="me.flyray.bsin.domain.entity.PayChannelConfig">
            <id property="serialNo" column="serial_no" jdbcType="VARCHAR"/>
            <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
            <result property="bizRoleAppId" column="biz_role_app_id" jdbcType="VARCHAR"/>
            <result property="payInterfaceCode" column="pay_interface_code" jdbcType="VARCHAR"/>
            <result property="params" column="params" jdbcType="VARCHAR"/>
            <result property="feeRatio" column="fee_ratio" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="isNormalMerchanMode" column="is_normal_merchan_mode" jdbcType="VARCHAR"/>
            <result property="isServiceSubMerchantMode" column="is_service_sub_merchant_mode" jdbcType="VARCHAR"/>
            <result property="normalMerchantParams" column="normal_merchant_params" jdbcType="VARCHAR"/>
            <result property="specialMerchantParams" column="special_merchant_params" jdbcType="VARCHAR"/> 
            <result property="serviceSubMerchantParams" column="service_sub_merchant_params" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        serial_no,tenant_id,biz_role_app_id,pay_interface_code,
        params,fee_ratio,status,
        remark,create_by,create_time,
        update_by,update_time,
        is_normal_merchan_mode,is_service_sub_merchant_mode,
        normal_merchant_params,special_merchant_params,service_sub_merchant_params
    </sql>
</mapper>
