<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.bsin.infrastructure.mapper.ProfitSharingConfigMapper">

    <resultMap id="BaseResultMap" type="me.flyray.bsin.domain.entity.ProfitSharingConfig">
            <id property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
            <result property="serialNo" column="serial_no" jdbcType="VARCHAR"/>
            <result property="superTenantRate" column="super_tenant_rate" jdbcType="DECIMAL"/>
            <result property="tenantRate" column="tenant_rate" jdbcType="DECIMAL"/>
            <result property="sysAgentRate" column="sys_agent_rate" jdbcType="DECIMAL"/>
            <result property="customerRate" column="customer_rate" jdbcType="DECIMAL"/>
            <result property="distributorRate" column="distributor_rate" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        tenant_id,serial_no,super_tenant_rate,
        tenant_rate,sys_agent_rate,customer_rate,
        distributor_rate
    </sql>

</mapper>
