<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.flyray.bsin.infrastructure.mapper.TransactionMapper">

    <resultMap id="BaseResultMap" type="me.flyray.bsin.domain.entity.Transaction">
            <id property="serialNo" column="serial_no" jdbcType="VARCHAR"/>
            <result property="txHash" column="tx_hash" jdbcType="VARCHAR"/>
            <result property="contractAddress" column="contract_address" jdbcType="VARCHAR"/>
            <result property="contractMethod" column="contract_method" jdbcType="VARCHAR"/>
            <result property="methodInvokeWay" column="method_invoke_way" jdbcType="VARCHAR"/>
            <result property="transactionType" column="transaction_type" jdbcType="INTEGER"/>
            <result property="transactionStatus" column="transaction_status" jdbcType="INTEGER"/>
            <result property="fromAddress" column="from_address" jdbcType="VARCHAR"/>
            <result property="bizRoleType" column="biz_role_type" jdbcType="VARCHAR"/>
            <result property="bizRoleType" column="biz_role_type_no" jdbcType="INTEGER"/>
            <result property="txAmount" column="tx_amount" jdbcType="DECIMAL"/>
            <result property="fee" column="fee" jdbcType="DECIMAL"/>
            <result property="toAddress" column="to_address" jdbcType="VARCHAR"/>
            <result property="comment" column="comment" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

    <select id="pageList" parameterType="me.flyray.bsin.domain.request.TransactionDTO" resultType="me.flyray.bsin.domain.response.TransactionVO">
        select
        c3.coin,
        c3.chain_name,
        ct.serial_no,
        ct.tx_hash,
        ct.contract_address,
        ct.contract_method,
        ct.method_invoke_way,
        ct.transaction_type,
        ct.transaction_status,
        ct.from_address,
        ct.tx_amount,
        ct.fee,
        ct.to_address,
        ct.comment,
        ct.biz_role_type,
        ct.biz_role_type_no,
        ct.create_time,
        ct.create_by,
        ct.update_time,
        ct.update_by
        from waas_transaction as ct
        left join waas_chain_coin as c3
        on ct.contract_address = c3.contract_address and c3.del_flag = '0'
        <trim prefix="where" prefixOverrides="and">
            <if test="params.serialNo != null and params.serialNo != ''">
                and ct.serial_no = #{params.serialNo}
            </if>
            <if test="params.coin != null and params.coin != ''">
                and c3.coin = #{params.coin}
            </if>
            <if test="params.chainName != null and params.chainName != ''">
                and c3.chain_name = #{params.chainName}
            </if>
            <if test="params.transactionStatus != null ">
                and ct.transaction_status = #{params.transactionStatus}
            </if>
            <if test="params.transactionType != null ">
                and ct.transaction_type = #{params.transactionType}
            </if>
            <if test="params.txHash != null and params.txHash != ''">
                and ct.tx_hash = #{params.txHash}
            </if>
            <if test="params.address != null and params.address != ''">
                and (ct.from_address = #{params.address} || ct.to_address = #{params.address})
            </if>
            <if test="params.startTime != null" >
                <![CDATA[and ct.create_time >= #{params.startTime}]]>
            </if>
            <if test="params.endTime != null">
                <![CDATA[and ct.create_time <= #{params.endTime}]]>
            </if>
                and ct.del_flag = '0'
        </trim>
        order by create_time desc
    </select>

</mapper>
